body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3a1d5b, #5c2a8d);
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background: linear-gradient(to right, #1a1a1a, #2c2c2c);
    color: #f0f0f0;
}

#container, #admin-container, #login-container {
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.dark-mode #container, .dark-mode #admin-container, .dark-mode #login-container {
    background-color: rgba(50, 50, 50, 0.8);
}

h1 {
    color: #fff;
}

.dark-mode h1 {
    color: #f0f0f0;
}

input[type="number"], input[type="text"], input[type="password"] {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 12px;
    transition: border-color 0.3s;
}

input[type="number"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #6a0dad;
    outline: none;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #F75E25;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin: 10px;
}

button:hover {
    background-color: #6a0dad;
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

#login-message, #response-message, #registration-message, #message {
    margin-top: 20px;
    font-size: 18px;
    color: #f00;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    #container, #admin-container, #login-container {
        padding: 20px;
    }

    input[type="number"], input[type="text"], input[type="password"] {
        width: 90%;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    #container, #admin-container, #login-container {
        padding: 30px;
    }

    input[type="number"], input[type="text"], input[type="password"] {
        width: 90%;
    }

    button {
        font-size: 16px;
    }
}

